.buttonWrapper {
    padding: 20px;
}

.buttonWrapper button {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.startWebcam {
    background-color: #4CAF50;
}

.startScreenOnly {
    background-color: #008CBA;
}

.mergeStreams {
    background-color: #f44336;
}

.stopRecording {
    background-color: #555555;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home {
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
}
  